/* Variables */

$color-yellow: #fed136;
$color-white: #ffffff;
$color-grey: #f7f7f7;

/* Global */

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

*, *::before, *::after {
    box-sizing: border-box;    
}

body {
    margin: 0;
}

.wrapper {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 30px;
}

/* Fonts */

@font-face {
    font-family: "droid";
    src:
      url("../fonts/droid_serif-italic.woff2") format("woff2"),
      url("../fonts/droid_serif-italic.woff") format("woff");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "wisdom";
    src:
      url("../fonts/wisdom.woff2") format("woff2"),
      url("../fonts/wisdom.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

/* Mixins */

@mixin clear-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
  
@mixin clear-link($color: inherit) {
    text-decoration: none;
    color: $color;
}
  
@mixin font-montserrat($size: 14px, $line: 41px) {
    font-family: 'Montserrat', sans-serif;
    font-size: $size;
    line-height: $line;
    font-weight: 400;
}

@mixin font-montserrat_bold($size: 14px, $line: 41px) {
    font-family: 'Montserrat', sans-serif;
    font-size: $size;
    line-height: $line;
    font-weight: 700;
}

@mixin font-wisdom($size: 14px, $line: 41px) {
    font-family: 'wisdom', sans-serif;
    font-size: $size;
    line-height: $line;
    font-weight: 400;
}

@mixin font-droid($size: 14px, $line: 41px) {
    font-family: 'droid', serif;
    font-size: $size;
    line-height: $line;
    font-weight: 400;
}

@mixin header($max-width: 400px) {
    text-align: center;

    max-width: $max-width;
    margin: 0 auto;
}

/* Header */

.header {
    min-height: 700px;

    background-image: url('../images/background.png');
    background-repeat: no-repeat;
    background-size: cover;

    color: $color-white;
    text-align: center;
}

.header__logo {
    @include font-wisdom(26px);
    @include clear-link($color-yellow);

    &:hover {
        font-size: 28px;
    }
}

.header__wrapper {
    display: flex;
    justify-content: space-between;

    padding-top: 40px;
    margin-bottom: 200px;
}

.header__navigation {
    padding-top: 10px;

    & ul {
        @include clear-list;
        display: flex;

        width: 60%;
    }

    & li {
        margin-right: 30px;
    }

    & a {
        @include clear-link;
        @include font-montserrat;
        text-transform: uppercase;

        &:hover {
            color: $color-yellow;
        }
    }
}

.header__title {
    @include font-droid(40px);
}

.header__description {
    @include font-montserrat_bold(75px, 100px);
    text-transform: uppercase;
}

.header__more-button {
    @include clear-link;
    @include font-montserrat_bold(18px, 60px);

    display: inline-block;
    width: 240px;
    min-height: 60px;

    background-color: $color-yellow;
    border-radius: 5px;

    text-transform: uppercase;

    &:hover {
        transform: scale(1.1);
    }
}

/* Services */

.services {
    padding: 120px 0;
}

.services__header {
    @include font-montserrat_bold(40px, 75px);
    @include header;
    text-transform: uppercase;
}

.services__description {
    @include font-droid(16px, 32px);
    @include header(600px);
}

.services__wrapper {
    display: flex;
    justify-content: space-between;

    margin-top: 70px;
}

.services__item {
    min-width: 300px;
    text-align: center;
}

.services__icon {
    width: 75px;
    height: 75px;
    border: 3px solid $color-yellow;
    border-radius: 50%;

    margin: 0 auto;
    line-height: 90px;
}

.services__name {
    @include font-montserrat_bold(18px, 75px);
    margin: 0;
}

.services__text {
    font-family: 'Roboto Slab', serif;
    font-size: 14px;
    line-height: 20px;
}
